<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/mapp_logo.png" width="60px" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/powders"><i class="fa fa-chart"></i>  Powders</a></li>
          <li><a href="/tests/fast"><i class="fa fa-chart"></i>  FAST</a></li>
          <li><a href="/tests/tmc"><i class="fa fa-chart"></i>  TMC Tests</a></li>
          <li><a href="/tests/aspshear"><i class="fa fa-chart"></i>  ASP Shear</a></li>
          <li><a href="/tests/orthogonal"><i class="fa fa-chart"></i>  Orthogonal Cutting</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conform
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/tests/conform">Main  <i class="fa fa-chart"></i></a></li>
                  <li><a href="/models/conform">Process model  <i class="fa fa-gear"></i></a> </li>
              </ul>
          </li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/benthomasuos/Powder_Node/issues"><i class="fa fa-github"></i> Report a bug/issue</a></li>
        <li><a href="/account" disabled><i class="fa fa-user-circle"></i> My account</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
