<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" media="screen" href='/css/font-awesome.min.css'>
    <link rel="stylesheet" media="screen" href='/css/jquery.datatables.min.css'>
    <link rel="stylesheet" media="screen" href='/css/metro-bootstrap.css'>
    <link rel="stylesheet" href = "/css/style.css">
    <link rel="manifest" href="manifest.json">
    <script src='/js/jquery2_1_4.js' type='text/javascript'></script>
    <script src='/js/bootstrap.min.js' type='text/javascript'></script>
    <script src="/js/moment.js" type="text/javascript"></script>

    <title>Powder Database</title>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/mapp_logo.png" width="60px" /></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="/powders"><i class="fa fa-chart"></i>  Powders</a></li>
              <li><a href="/tests/fast"><i class="fa fa-chart"></i>  FAST</a></li>
              <li><a href="/tests/tmc"><i class="fa fa-chart"></i>  TMC Tests</a></li>
              <li><a href="/tests/aspshear"><i class="fa fa-chart"></i>  ASP Shear</a></li>
              <li><a href="/tests/orthogonal"><i class="fa fa-chart"></i>  Orthogonal Cutting</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conform
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="/tests/conform">Main  <i class="fa fa-chart"></i></a></li>
                      <li><a href="/models/conform">Process model  <i class="fa fa-gear"></i></a> </li>
                  </ul>
              </li>


          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li id="sync_status"></li>
            <li><a href="/account" disabled><i class="fa fa-user-circle"></i> My account</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>




<div class="jumbotron">
    <h1>Powder database</h1>
</div>



<div class="container-fluid col-md-12">
    <div class="btn btn-lg btn-default" id="searchBoxToggle"> Search <i class="fa fa-search"></i> </div>
    <div class="btn btn-lg btn-success" id="addNewPowder_btn">
        <i class="fa fa-plus" id="hideTable"></i>
        New Powder
    </div>
</div>

<div class="container-fluid col-md-12">
    <div class="container-fluid well col-md-12" id="powderSearchBox" hidden>
        <form class="form" id="testSearch_form">
            <div class="form-group col-md-4">
                <h4>Base materials</h4>
                <select class="form-control" name="materials" id="samples" multiple></select>

            </div>

            <div class="form-group col-md-4">
                <h4>Temperature</h4>
                <div class="input-group">
                    <span class="input-group-addon">Min</span>
                    <input class="form-control" name="temp_min" id="temp_min" type="number" min=-273 max=1800 step=5 value=20 />
                    <span class="input-group-addon">ºC</span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Max</span>
                    <input class="form-control" name="temp_max" id="temp_max" type="number" min=-273 max=1800 step=5 value=1600 />
                    <span class="input-group-addon">ºC</span>
                </div>
            </div>

            <div class="form-group col-md-4">
                <h4>Strain rate</h4>
                <div class="input-group">
                    <span class="input-group-addon">Min</span>
                    <input class="form-control" name="sr_min" id="sr_min" type="number" min=0.01 max=100 step=0.01 value=0.01 />
                    <span class="input-group-addon">s<sup>-1</sup></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Max</span>
                    <input class="form-control" name="sr_max" id="sr_max" type="number" min=0.01 max=100 step=0.01 value=100 />
                    <span class="input-group-addon">s<sup>-1</sup></span>
                </div>
            </div>

            <div class="form-group col-md-4">
                <h4>Test date</h4>
                <div class="input-group">
                    <span class="input-group-addon">Start date</span>
                    <input class="form-control" name="test_start" id="test_start" type="date" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">End date </span>
                    <input class="form-control" name="test_end" id="test_end" type="date" />
                </div>
            </div>

            <div class="form-group col-md-4">
                <h4>Uploaded date</h4>
                <div class="input-group">
                    <span class="input-group-addon">Start date</span>
                    <input class="form-control" name="uploaded_start" id="uploaded_start" type="date" />
                </div>

                <div class="input-group">
                    <span class="input-group-addon">End date </span>
                    <input class="form-control" name="uploaded_end" id="uploaded_end" type="date" />
                </div>
            </div>



        </form>
        <div class="btn btn-lg btn-primary" onclick="getAllTests()"><i class="fa fa-search"></i> All Tests</div><div class="btn btn-lg btn-success" onclick="getSearchedTests()"><i class="fa fa-search"></i> Search</div>
    </div>











    <div class="container-fluid col-md-6">
        <div id="newPowderForm" class="panel panel-primary" hidden>
            <div class="panel-heading">
                <h4>New Powder<i style="float:right" class="fa fa-times" id="hideForm"></i></h4>
            </div>
            <div class="panel-body">
                            <form class="form" id="powderForm">
                                <div class="form-group" name="sample">
                                    <h5>Powder</h5>
                                    <div class="input-group" name="type">
                                        <div class="input-group-addon">Type</div>
                                        <select name="type" id="type" class="form-control">
                                            <option value="metal">Metal</option>
                                            <option value="ceramic">Ceramic</option>
                                            <option value="polymer">Polymer</option>
                                        </select>
                                    </div>

                                    <div class="input-group" name="name">
                                        <div class="input-group-addon">Name</div>
                                        <input name="name" id="name" type="text" class="form-control"/>
                                    </div>

                                    <div class="input-group">
                                        <div class="input-group-addon">Base metal</div>
                                        <select name="base_metal" id="base_metal" class="form-control">
                                            <option value="Fe">Iron</option>
                                            <option value="Ti">Titanium</option>
                                            <option value="Al">Aluminium</option>
                                            <option value="Mg">Magnesium</option>
                                            <option value="Ni">Nickel</option>
                                            <option value="W">Tungsten</option>
                                            <option value="Cr">Chromium</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon">Alloy</div>
                                        <input name="alloy" id="alloy" type="text" class="form-control" />
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon">Supplier</div>
                                        <input name="supplier" id="supplier" type="text" class="form-control" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <h5>Particles</h5>
                                    <div class="input-group">
                                        <div class="input-group-addon">Morphology class</div>
                                        <select name="morphology" id="morphology" class="form-control">
                                            <option value="GA">Gas atomised</option>
                                            <option value="PREP">PREP</option>
                                            <option value="HDH">Hydride-dehydride</option>
                                            <option value="PS">Plasma spherodised</option>
                                            <option value="CA">Centrifugal atomised</option>
                                            <option value="LA">Liquid atomised</option>
                                            <option value="OR">Oxide reduced</option>
                                            <option value="BM">Ball milled</option>
                                            <option value="Swarf">Swarf</option>
                                        </select>

                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon">PSD min</div>
                                        <input name="psd_min" id="psd_min" type="number" min=0 class="form-control" />
                                        <div class="input-group-addon"> µm </div>
                                        <div class="input-group-addon">PSD max</div>
                                        <input name="psd_max" id="psd_max" type="number" min=0 class="form-control" />
                                        <div class="input-group-addon"> µm </div>
                                    </div>
                                </div>
                <div class='input-group'>
                    <div class='btn btn-md btn-default' id='resetPowder'><i class='fa fa-reset'></i> Reset</div>
                    <div class='btn btn-md btn-success' id='saveTest' onclick='savePowder()' hidden><i class='fa fa-save'></i> Save</div>
                    <div class='alert' id='alert'></div>
                </div>

            </form>
            </div>
        </div>
    </div>

</div>





























<div class="container-fluid col-md-12">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>All available powders</h4>
        <div id="num_powders">Number of powders found: <span>0</span></div>
        <div id="data_loading"><progress value=0 max=100 ></progress></div>
    </div>
        <div id="powder_status" class="alert alert-warning">No powders available to show</div>
    <div class="panel-body">
        <table id="currentPowdersTable" class="table table-condensed table-hover">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Base metal</th>
                <th>Alloy</th>
                <th>Morphology</th>
                <th>Supplier</th>
                <th>PSD min</th>
                <th>PSD max</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="compareTests" style="float:right"></div>
    </div>
</div>
</div>




<div id="push" class="container-fluid col-md-12" >
</div>
<div id="footer" hidden>
    <p class="muted">STAR Group</p>
    <p class="muted">Flow stress manipulation app</p>
</div>




<script src="//cdn.jsdelivr.net/pouchdb/6.2.0/pouchdb.min.js"></script>
<script src="/js/pouchdb.find.js"></script>
<script src="/js/papaparse.min.js" type="text/javascript"></script>
<script src="/js/jquery.datatables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/powders.js" type="text/javascript"></script>
</body>

</html>
