
html {
    position: relative;
    max-height: 95%;
}


body {
    padding: 10px;
    padding-top: 50px;

}

a.disabled {
    pointer-events: none;
}

.navitem{
    float:left;
    min-width: 60px;
    height: 40px;
    font-size: 1.2em;
    border: solid gray 1px;
    padding: 8px 4px;
    margin: 0px 4px;
    background-color: #99d;
    color: #fff
}

.navitem:hover{
    border: solid blue 1px;
    background-color: #66a;
    color: #fff
}
.navitem:active{
    border: solid blue 1px;
    background-color: #6a6;
    color: #fff
}

.graphDiv{
    position: relative;
    min-width: 80%;
    min-height: 400px;
    padding: -30px;
    margin: 10px;
    border: solid grey 1px;

}

.controls{
    max-width: 220px;
    float:right;
}

#tests{
    float:right;
}

td + i.fa-trash:hover{
    color: #777;
}

.plotted {
    background-color: #d34;
}

.value {
    width:60px;
}


#push{
    height: 100px;
}
#footer {
    height: 100px;
    margin-bottom: 100px;
    background-color: #FF740D;
    width: 100%;
    overflow:hidden;
}

.footer {

    margin-top: 240px;
    margin-bottom: 0px;
    background-color: orange;
    overflow: auto;

}

#buttonFooter {

    background-color: #dadada;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 40%;
    float:right;
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
    z: 900;
}

.graph_y_controls{

}

.graph_x_controls{

}

.graph_y_max{
    float:left;
    max-width: 60px;
}

.graph_y_min{
    margin-top:500px;
    float:left;
    max-width: 60px;
}

.graph_x_max{
    float:right;
    max-width: 60px;
}

.graph_x_min{
    margin-left: 100px;
    float: left;
    max-width: 60px;
}


.settingsDiv {
    position: fixed;
    top: 60px;
    right: 0;
    float: right;
    z-index: 899;
    min-width: 400px;
    max-width: 600px;
    background-color: #fff;

}

.settingsDiv_fixed {
    right: 0;
    top: 60px;
    float: right;
    z-index: 899;
    width: 40%;

}
.settingsDiv_moving {
    position: fixed;
    top: 60px;
    right: 0;
    float: right;
    z-index: 899;
    width: 40%;

}


.wt_pc_input{
    bottom: 0px;
    width: 100%;
    padding: 4px;

}

.page_header{
    min-height: 60px;
    border-bottom: solid 1pt #777;
    margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    display: block;
    font-size: 0.8em;
    min-width: 200px;
    min-height: 60px;
    padding: 4px;
    background-color: blacks;
    border: 1pt solid #666;
}

.navtile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    background-color: #222
}

#currentTests > tbody > tr > td {
    text-align: center;
}

.checkbox-md{
    height: 26px;
    width: 26px;
    padding-left: 80px;
}

#loginModal {
    text-align: center;
    width: 30%;
    max-width: 300px;
    position: absolute;
    left: 35%;
}

#sync_status{
    font-family: inherit;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    vertical-align: 50px;
}

.nav-tile{
    font-weight: 300;
    min-width: 48%;
    padding: 10px;
    margin: 4px;
    min-height: 100px;
    max-height: 200px;
    text-align: center;
    vertical-align: 100px;
    border-radius: 8px;
    float: left;

}
a ~ .nav-tile {
    text-decoration: none;
}

.nav-tile-red {
    color: #fff;
    background-color: #FF4500;
    border: #FF4500 outset 4pt;
}

.nav-tile-red:hover {
    background-color: #b11;
}

.nav-tile-skyblue {
    color: #fff;
    background-color: #00C1FE;
    box-shadow: #ff9e59 4px 4px;
}

.nav-tile-skyblue:hover {
    background-color: #8bd;
}

.nav-tile-lightgreen {
    color: #fff;
    background-color: #ADFF2F ;
    border: #ADFF2F  outset 4pt;
}

.nav-tile-lightgreen:hover {
    background-color: #7c0;
}


.nav-tile-coral {
    color: #fff;
    background-color: #FF7F50;
    border: #FF7F50 outset 4pt;
}

.nav-tile-coral:hover {
    background-color: #d63;
}

.nav-tile-CornflowerBlue {
    color: #fff;
    background-color: #6495ED;
    border: #6495ED outset 4pt;
}

.nav-tile-CornflowerBlue:hover {
    background-color: #47c;
}


.nav-tile-purple {
    color: #fff;
    background-color: #6495ED;
    border: #6495ED outset 4pt;
}

.nav-tile-purple:hover {
    background-color: #47c;
}

.graph_number{
    position:absolute;
    width: 60px;
    float:left;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    background-color: #fff;
    border: solid grey 1px;
    z-index: 999;
}


.testHeader {
    position: fixed;
    width: 57%;
    height: 120px;
    margin-left: -20px;
    float:left;
    top: 45px;
    z-index: 999;
    background-color: #fff;
    padding-top: 10px;
    border-bottom: 1px solid #dadada
}


.header_input {
    font-size: 1em;
    height: 30px;
}

td > .fa-navicon:hover {
    color: #aaa;
    cursor: pointer ;

}

td > .fa-trash:hover{
    color: #aaa;
    cursor: pointer

}

td > .fa-edit:hover{
    color: #333;
    cursor: pointer

}
