
body {
    padding: 10px;
    padding-top: 70px;

}

a.disabled {
    pointer-events: none;
}

.navitem{
    float:left;
    min-width: 60px;
    height: 40px;
    font-size: 1.2em;
    border: solid gray 1px;
    padding: 8px 4px;
    margin: 0px 4px;
    background-color: #99d;
    color: #fff
}

.navitem:hover{
    border: solid blue 1px;
    background-color: #66a;
    color: #fff
}
.navitem:active{
    border: solid blue 1px;
    background-color: #6a6;
    color: #fff
}

.graphDiv{
    min-width: 80%;
    min-height: 400px;
    border: solid gray 1px;
    padding: 10px;
    margin: 10px;

}

.controls{
}

#tests{
    float:right;

}

td + i.fa-trash:hover{
    color: #777;
}

.plotted {
    background-color: #d34;
}

.value {
    width:60px;
}


#push{
    height: 100px;
}
#footer {
    height: 100px;
    margin-bottom: 100px;
    background-color: #FF740D;
    width: 100%;
    overflow:hidden;
}

.footer {
    max-height: 240px;
    margin-top: 240px;
    margin-bottom: 0px;
    background-color: orange;
    overflow: auto;
    position: fixed;
    bottom: 0px;
    z-index: 999
}

.graph_y_controls{

}

.graph_x_controls{

}

.graph_y_max{
    float:left;
    max-width: 60px;
}

.graph_y_min{
    margin-top:500px;
    float:left;
    max-width: 60px;
}

.graph_x_max{
    float:right;
    max-width: 60px;
}

.graph_x_min{
    margin-left: 100px;
    float: left;
    max-width: 60px;
}

#settingsDiv{



}

.wt_pc_input{
    bottom: 0px;
    width: 100%;
    padding: 4px;

}

.page_header{
    min-height: 60px;
    border-bottom: solid 1pt #777;
    margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    display: block;
    font-size: 0.8em;
    min-width: 200px;
    min-height: 60px;
    padding: 4px;
    background-color: blacks;
    border: 1pt solid #666;
}
